<footer style="background-color:#FFFFFF; height:15%; width:100%; position: fixed; bottom: 0;">
  <div class="center-block" style="width: 50%; margin-top:20px;">
    <textarea id="m" class="form-control" style="margin-left: 20%; resize:none; width:50%; display:inline-block;" rows="3" placeholder="Send something!"></textarea>
      <button id="send" style="background-color:#75B1CF; width:70px; height:40px; border-radius: 2px;display:inline-block; margin-bottom:10%; margin-left: 2%" type="button" class="btn btn-info">Send</button>
  </div>
</footer>